.about-container {
    margin: 0 auto;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1fr;
}

.about-title {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0;
    color: #ff7477;
}

.image-container {
    padding-top: 1em;
}

.about-image {
    box-shadow: 5px 10px 18px .1em #ceb5b7;
}

.about-text {
    padding: 1em 0;
    text-align: left;
    font-size: 1em;
    color: black;
}

.first-character {
    color: #e69597;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.work-with-me {
    font-size: 1em;
    color: #ff7477;
    text-decoration: none;
}

.work-with-me:hover {
    color: #e69597;
}

@media only screen and (min-width: 960px) {
    .about-container {
        grid-template-columns: 1fr 1fr;
        margin: 0 1em;
    }

    .about-title {
        padding: 1em auto .5em auto;
    }

    .image-container {
        padding: 0.5em 0;
    
    }

    .about-text {
        padding-top: 0;
        padding-left: 4em;
    }
}