.about-container {
    margin: 0 1em;
    padding: 0 2em;
    display: grid;
    grid-template-columns: 1fr;
}

.about-title {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0;
    color: #F9DCC4;
}

.image-container {
    padding-top: 1em;
}

.about-image {
    box-shadow: 5px 10px 18px .1em #6d6875;
}

.about-text {
    padding: 1em 0;
    text-align: left;
    font-size: .9em;
    color: #6d6875;
}

.first-character {
    color: #F9DCC4;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.work-with-me {
    font-size: 1em;
    color: #6d6875;
}

.work-with-me:hover {
    color: #ffb5a7;
}

@media only screen and (min-width: 768px) {
    .about-container {
        grid-template-columns: 1fr 1fr;
        margin: 0 7em;
    }

    .about-title {
        padding: 1em auto .5em auto;
    }

    .image-container {
        padding: 0.5em 0;
    
    }

    .about-text {
        padding-top: 0;
        padding-left: 4em;
    }
}