.blog-title {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0;
    color: #ff7477;
}

.posts {
    list-style-type: none;
    margin: 0 1em;
}

.post {
    margin: 1rem 0;

    a {
        background: #e69597;
        display: block;
        padding: 1em;
        text-decoration: none;
        //border-radius: 3px;
    }

    a:hover {
        transition: .5s ease-out;
        background: #ceb5b7;
    }

    h2 {
        text-align: center;
        margin-bottom: 0;
        color: white;
    }

    h2:hover {
        color: white;
    }
    
    p {
        text-align: center;
        color: white;
        font-size: .8em;
        font-style: italic;
    }
}

@media screen and (min-width: 768px) {
    .blog-title {
        padding: 1em auto .5em auto;
    }

    .posts {
        margin: 0 7em;
    }
}