.blog {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.posts {
    list-style-type: none;
    margin: 0 50px; 
}

.post {
    margin: 1rem 0;

    a {
        background: #f4f4f4;
        color: #000000;
        display: block;
        padding: 1rem;
        text-decoration: none;
        border-radius: 3px;
    }

    a:hover {
        background: #e4e4e4;
    }

    h2 {
        margin-bottom: 0;
        color: #000000;
    }
    
    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }
}