.contact-title {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0;
    color: #F9DCC4;
}

.container {
    margin: 0 1em;
    padding: 0 2em;
}

.contact-body {
    display: grid;
    grid-template-columns: 1fr;
}

.contact-detail {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    ul {
        list-style: none;
    }
    
    li {
        margin: 0;
    }

    a {
        text-decoration: none;
        span {
            padding-left: .5em;
            font-size: .9em;
            color: #6d6875;
        }

        span:hover {
            color: blue;
        }
    }
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    grid-gap: .5em;
    
}

.guest-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
}

.guest-contact {
    display: grid;
    grid-gap: .5em;
}

.message {
    display: grid;
    grid-gap: .5em;
}

.form-group, .form-group-msg {
    margin-bottom: 0;
    font-size: .9em;
}

.form-group {
    label {
        margin: 0;
        padding: 0;
    }
}

.form-control {
    background: white;
    width: 100%;
    padding: 5px;
    //border: none;
    //outline: none;
    font-size: .9em;
    color: #6d6875;
    border-radius:0px/100%;
    border: 2px solid #f9dcc4;
    transition: border-color 0.2s;
}

.form-control:hover {
    border-color: #ffb5a7;
}

.form-control-file {
    width: 100%;
    padding: 0 0;
    border: none;
}

.form-group-button {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.form-btn {
    background-color:#f8edeb;
    border: none;
    color: #e69597;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    transition: 0.4s ease;
    cursor: pointer;
}

.form-btn:hover {
    background-color: #fec89a;
    font-size: 1.1em;
    padding: 16px 33px;
} 



@media screen and (min-width: 768px){

    .container {
        margin: 0 7em;
        padding: 0 5em;
    }

    .guest-contact {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
    }
}

