.home-title {
    padding-top: 3em;
    padding-bottom: 0;
    text-align: center;
    color: #ff7477;
}

.home-intro {
    padding: 0;
    text-align: center;
    color: #e69597;
}

.learn-more-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.learn-more-btn {
    background-color: #ff7477;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: 1em;
    padding: .5em;
    width: 15em;
    transition: all 0.5s;
    cursor: pointer;
}

.learn-more-btn{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.learn-more-btn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: .5em;
    right: -20px;
    transition: 0.5s;
  }
  
.learn-more-btn:hover{
    padding-right: 24px;
    padding-left: 8px;
    background: #ceb5b7;
  }
  
.learn-more-btn:hover:after {
    opacity: 1;
    right: 10px;
  }


@media only screen and (min-width: 768px) {
    .home-title {
        padding: 1em auto 0 auto;
    }
}