.project-container {
    margin: 0 auto;
    padding: 0;
}

.project-title {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0;
    color: #ff7477;
}

@media screen and (min-width: 768px){
    .project-title {
        padding: 1em auto .5em auto;
    }

    .project-container {
        margin: 0 1em;
    }
}