.resume-title {
    text-align: center;
    padding-top: 1em;
    padding-bottom: .5em;
    color: #ff7477;
}

.container {
    margin: 0 .5em;
    padding: 4em 2em;
    //border: 1px solid lightgrey;
    box-shadow: 5px 10px 18px .1em #ceb5b7;
    background: white;
    color: black;
}

.top {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    border-bottom: 2px solid #e69597;
}

.profile {
    margin: 1em 0;
}

.name {
    text-align: center;
    font-size: 3.5em;
    line-height: 1;
    color: #e69597;
}

.title {
    text-align: center;
    padding-top: .3em;
    font-size: 1.5em;
    font-weight: 300;
    color: #ceb5b7;
}

.location {
    text-align: center;
    padding-top: 2em;
    font-size: .9em;
    color: black;
}

.contact {
    text-align: center;
    font-size: .9em;
    padding-bottom: 1em;

    a {
        color: black;
        text-decoration: none;
    }
    
    a:hover {
            color: blue;
    }
}

.resume-image {
    height: 27em;
    width: 18em;
    margin: 0 2em;
}

.section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding-top: 1em;
    border-bottom: 2px solid #e69597;
}

.section:last-child {
    border-bottom: none;
}

.section-title {
    font-weight: bold;
    font-size: 1em;
    color: #ceb5b7;
    max-width: 40em;
}

.job {
    border-bottom: 2px solid #e69597;
}

.job:last-child {
    border-bottom: none;
}

.job-info {
    padding-top: .5em;
    padding-bottom: .4em;
}

.job-title {
    font-weight: bold;
    font-size: .9em;
}

.job-company {
    font-size: .9em;
}

.description {
    padding-top: .5em;
    font-size: .8em;

    a {
        color: black;
    }
    
    a:hover {
            color: blue;
    }
}

.date {
    text-align: right;
    padding-bottom: .5em;
    font-size: .8em;
}

.skill-title-container {
    padding-bottom: .6em;
}

.skill {
    font-size: .9em;
}

@media only screen and (min-width: 768px) {
    .resume-title {
        padding: 1em auto .5em auto;
    }

    .container {
        margin: 0 1em;
        padding: 2em;
    }

   .top {
       grid-template-columns: 1fr 10fr;
    }

    .resume-image {
        height: 18em;
        width: 12em;
        margin: 0;
    }

    .profile {
        margin: 0 2em;
    }

    .name {
        text-align: left;
        font-size: 3.5em;
    }

    .title {
        text-align: left;
        font-size: 1.5em;;
        padding-top: .5em;
    }

    .location {
        text-align: left;      
    }

    .contact {
        text-align: left;
    }

    .section {
        grid-template-columns: 1fr 4fr;
    }

    .job-title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //margin-bottom: 8px;
    }

    .job-info {
        padding-top: 0;
        padding-bottom: .7em;
    }

    .skill-title-container {
        padding-bottom: .7em;
    }

    .description {
        max-width: 25em;
    }
}

@media only screen and (min-width: 960px) {
    .container {
        margin: 0 6em;
        padding: 2em;
    }

    .top {
        grid-template-columns: 1fr 4fr;
    }

    .name {
        font-size: 4em;
        padding-left: 0;
    }

    .title {
        font-size: 1.8em;
        padding-left: 0;
    }

    .location { 
        margin-right: .5em;
        font-size: 1em;
    }

    .contact {
        margin-right: .5em;
        font-size: 1em;
    }

    .description {
        max-width: 40em;
    }
}









