.resume-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: .5em;
}

.container {
    margin: 0 2em;
    padding: 1em;
    //border: 1px solid lightgrey;
    //box-shadow: 5px 5px gray;
    box-shadow: 5px 10px 18px lightgrey;
}

.top {
    display: grid;
    grid-template-columns: 22fr 1fr; 
    border-bottom: 1px solid lightgrey;
}

.name {
    font-size: 3em;
    line-height: 1;
}

.title {
    padding-top: .3em;
    font-size: 1.3em;
    font-weight: 300;
    color: #777777;
}

.location {
    padding-top: 1em;
    font-size: .9em;
}

.contact {
    font-size: .9em;
    padding-bottom: 1em;
}

a {
    color: #323232;
    text-decoration: none;
}

a:hover {
        color: blue;
}

.section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding-top: 1em;
    border-bottom: 1px solid lightgrey;
}

.section:last-child {
    border-bottom: none;
}

.section-title {
    font-weight: bold;
    font-size: 1em;
}

.job {
    border-bottom: 1px solid lightgrey;
}

.job:last-child {
    border-bottom: none;
}

.job-info {
    padding-top: .5em;
    padding-bottom: .4em;
}

.job-title {
    font-weight: bold;
    font-size: .9em;
}

.job-company {
    font-size: .85em;
}

.description {
    padding-top: .5em;
    font-size: .8em;
}

.date {
    padding-bottom: .5em;
    font-size: .85em;
}

.skill-title-container {
    padding-bottom: .6em;
}

.skill {
    font-size: .9em;
}


@media only screen and (min-width: 768px) {
    .resume-title {
        margin: 1em auto .5em auto;
    }

    .container {
        margin: 0 5em;
        padding: 2em;
    }

    .name {
        font-size: 3em;
    }

    .title {
        padding-top: .5em;
    }
    .section {
        grid-template-columns: 1fr 4fr;
    }

    .job-title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //margin-bottom: 8px;
    }

    .job-info {
        padding-top: 0;
        padding-bottom: .7em;
    }

    .skill-title-container {
        padding-bottom: .7em;
    }

    .description {
        max-width: 30em;
    }
}








