.title {
    text-decoration: none;
    display: inline-block;
    font-size: .7em;
    margin-left: 1em;
}

.title:hover {
    color: black;
}

.icons {
    display: block;
    cursor: pointer;
    position: absolute;
    top: .5em;
    right: 1em;
    font-size: 1.5em;
}

.mobile-nav-list {
    text-align: center;
    margin: 10px 20px;
    list-style-type: none;
}

.nav-list {
    display: none;
}

.nav-link:hover {
    padding: .3em 0;
    transition: .6s ease;
   
    
    .nav-item {
        cursor: pointer;
        transition: .6s ease;
        color: rgb(119, 119, 119);
    }
}

.nav-item {
    color: darkgray;
    text-decoration: none;
    font-size: .9em;
}

.active-nav-item {
    color: black;
}



@media screen and (min-width: 768px) {
    .header {
        background: white;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 40px;
        z-index: 1;
        padding-top: .5em;
    }
    
    .title {
        margin-top: .5em;
    }

    .nav-list {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 20px;
        margin-right: 1em;

        .nav-link {
            margin: 0;
        }
    }
    
    .mobile-nav-list {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        justify-content: flex-end;

        .nav-link {
            margin: 0px;
        }
    }
    
    .icons {
        display: none;
    }

    .nav-link:hover {
        padding: 0;
    }

    .nav-item {
        margin: 0 20px;
    }
}